* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
    /*animation: aparecer .6s;*/
}

@keyframes aparecer {
    from{
        transform: translateY(50px)
    }

    to{
        transform: translateY(0);
    }
}

header {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-encabezado {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
}


.contenedor-encabezado img {
    border-radius: 50%;
    width: 50%;
    max-width: 250px;
    transition: .2s;
}

.contenedor-encabezado img:hover {
    transform: scale(1.02);
}

.informacion {
    height: 150px;
    margin-top: 13px;
}

.informacion h1 {
    margin-bottom: 8px;
}

.informacion p {
    margin-bottom: 8px;
}

.estrellas {
    display: flex;
    list-style: none;
}

.estrellas li:hover {
    transform: scale(1.1);
    transition: .1s;
}



.navegacion {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacion-lista {
    list-style: none;
    display: flex;
    gap: 19px;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

a:hover {
    transform: scale(1.2);
}

@media (max-width: 765px){
    .contenedor-encabezado {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        text-align: center;
    }

    .estrellas {
        justify-content: center;
        align-items: center;
    }
}


.sobre-mi {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contenido{
    display:flex;
    flex-direction:column;
    border: 1px solid white;
    border-radius:7px;
    width: 80%;
    padding:20px;
    padding-top: 10px;
    padding-bottom: 15px;

    gap: 27px;
    
}


.contenido-tecnologias {
    text-align: center;
    margin-top: 20px;
}

.contenido-tecnologias h4 {
    margin-bottom: 20px;
    font-size: 30px;
}

.lista-tecnilogias {
    border: 1px solid white;
    list-style: none;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}

@media (max-width: 760px){
    .contenido-tecnologias h4 {
        font-size: 25px;
    }

    .lista-tecnilogias {
        flex-direction: column;
    }

}


.lista-tecnilogias li {
    font-size: 20px;
    transition: .1s;
}

.lista-tecnilogias li:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

.proyectos {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;
    gap: 30px;
}

@media ( max-width: 760px){
    .proyectos {
        flex-wrap: wrap;
    }

}

.card {
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    transition: .2s;
}


.card img {
    width: 58%;
    border-radius: 8px;
    transition: .1s;
    padding-bottom: 4px;
}

.card img:hover {
    transform: scale(1.03);
}

.card-info {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.card-info h3 {
    font-size: 16px;
}

.card-info p {
    font-size: 14px;
}

.card-info time {
    text-decoration: underline;
    cursor: zoom-in;
    padding-bottom: 4px;
}

hr {
    margin-top: 23px;
}

#contactos {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#contactos h3 {
    color: aqua;
    font-size: 23px;
    text-shadow: 0 0 5px rgb(0, 98, 255);
}

.contactos-lista {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}

.unicos {
    color: rgb(0, 237, 237);
}


.unicos:hover {
    cursor: pointer;
    transform: scale(1.1);
}